# Force LF line endings for all shell scripts and config files
*.sh text eol=lf
*.conf text eol=lf
*.bb text eol=lf
*.bbappend text eol=lf
*.cfg text eol=lf
*.xml text eol=lf
auton-init-build-env text eol=lf
Makefile text eol=lf
